/**
 * Add box sizing to everything
 * @link http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*,
*:before,
*:after {
	box-sizing: border-box;
}

/**
* Layout
*/
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 112.5%;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
	width: 88%;
}

/**
* Typography
*/
h2 {
	font-weight: normal;
	margin-top: 2em;
}

/**
* Forms
*/
input,
textarea {
	margin-bottom: 1em;
	padding: 0.5em 1em;
	width: 100%;
}

textarea {
	min-height: 10em;
}

[type="checkbox"] {
	width: auto;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5em;
	width: 100%;
}

button {
	background-color: #0088cc;
	border: 1px solid #0088cc;
	border-radius: 1px;
	color: #ffffff;
	display: inline-block;
	font-size: 0.9375em;
	font-weight: normal;
	line-height: 1.2;
	margin-right: 0.3125em;
	margin-bottom: 0.3125em;
	padding: 0.5em 0.6875em;
}

button:hover,
button:focus,
button:active {
	background-color: #005580;
	border-color: #005580;
	color: #ffffff;
	text-decoration: none;
}

blockquote {
	border-left: 4px solid;
	font-style: italic;
	margin: 0 0 2rem 0;
	padding: 1rem 0 1rem 1.5rem;
}

p {
	margin: 0 0 2rem 0;
}

footer {
	padding-bottom: 3rem;
	padding-top: 3rem;

}

/**
 * Grids
 */

.grid {
	display: grid;
}

.grid--same-line {
	grid-template-columns: 1fr auto 1fr;
}

/* For monsters game */
.grid-monsters {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat( auto-fill, minmax( 200px,1fr ) );
	list-style-type: none;
	margin: 0 0 2rem 0;
	padding: 0;
}

/* Weather App. */
.weather-app__img {
	margin: 0 0 1.5rem;
}

/* Tabs. */
[role="tablist"] {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media (min-width: 40em) {
	[role="tablist"] {
		display: flex;
		flex-wrap: wrap;
	}
}

[role="tab"] {
	border: 1px solid;
	border-bottom: 0;
	display: block;
	padding: 0.75rem 1.25rem;
	position: relative;
	text-decoration: none;
	top: 1px;
}

[role="tab"][aria-selected="true"] {
	background-color: #fafafa;
}

@media (min-width: 40em) {
	[role="tab"] {
		border: 0;
	}

	[role="tab"][aria-selected="true"] {
		border: 1px solid;
		border-bottom: 0;
	}
}

.tab-content {
	background-color: #fafafa;
	border: 1px solid;
	padding: 1.5rem;
}

[role="tabpanel"] h2 {
	margin-top: 0;
}

/**
 * Utilities
 */
.reset-list {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.no-bold {
	font-weight: normal;
}

.px-1x {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.section-title {
	text-transform: capitalize;
}

.entry {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
}

.entry__byline {
	color: #666;
	font-size: 0.875rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.entry__title {
	margin-top: 0;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

.button--reset {
	background-color: transparent;
	color: #222;
	border: none;
	margin: 0;
	padding: 0;
}

.button--reset:hover,
.button--reset:focus,
.button--reset:active {
	background-color: transparent;
	color: #222;
}

.is-completed {
	text-decoration: line-through;
}
